{
    "extends": ["stylelint-prettier/recommended", "stylelint-config-standard"],
    "rules": {
        "indentation": 4,
        "number-leading-zero": "always",
        "at-rule-no-unknown": null,
        "string-quotes": "single",
        "selector-class-pattern": null
    }
}
