{
    "extends": ["eslint:recommended", "plugin:prettier/recommended", "plugin:vue/vue3-essential"],
    "plugins": ["html"],
    "env": {
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "parser": "@babel/eslint-parser",
        "requireConfigFile": false,
        "ecmaVersion": "latest",
        "sourceType": "module",
        "allowImportExportEverywhere": true
    },
    "rules": {
        "comma-dangle": [
            "error",
            {
                "arrays": "always-multiline",
                "objects": "always-multiline",
                "imports": "always-multiline",
                "exports": "always-multiline",
                "functions": "only-multiline"
            }
        ],
        "quotes": ["error", "single", {"avoidEscape": true, "allowTemplateLiterals": false}],
        "no-use-before-define": ["error", {"functions": true, "classes": true}],
        "no-empty": ["error", {"allowEmptyCatch": true}],
        "no-lonely-if": "error",
        "no-async-promise-executor": 0,
        "curly": 0,
        "no-underscore-dangle": 0,
        "space-infix-ops": 0,
        "linebreak-style": 0,
        "vue/no-setup-props-destructure": 0,
        "vue/multi-word-component-names": 0,
        "no-prototype-builtins": 0
    }
}
