name: Node.js Package

on:
    release:
        types: [created]

jobs:
    build_and_publish:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [20]
        permissions:
            contents: read
            id-token: write
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v4
              with:
                  node-version: '20.x'
                  registry-url: 'https://registry.npmjs.org'
            - name: Install pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: 10
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'pnpm'
            - name: Install dependencies
              run: pnpm install
            - run: npm publish --access=public
